<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camaras</title>
</head>

<body>
    <!-- librerias js de autocaptura SDK web -->
    <script src="https://sandbox-web-plugins.s3.amazonaws.com/autocapture/autocapture.js"></script>  

    <section>
        <div class="container" id="container"></div>
        <script>    
            //llamar a la camara
            TOCautocapture('container', {
                locale: "es",
                session_id: "5bbb1b67713e4994b3b8e949a7a4a85a",
                document_type: "CHL2",
                document_side: "back", //cara del documento
                http: "true",
                callback: function(captured_token, image){ alert(token); },
                failure: function(error){ alert(error); }
            });
            TOCautocapture();
        </script>
    </section>
    <button>siguiente</button>
</body>
</html>